# Messi & Ronaldo - Comparison

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('MessiRonaldo.csv')

In [10]:
#  .head() is used to get top 5 rows
df.head()

,Season,Player,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
0,2017-18,Messi,34,12,36,2996,6,2,10,783
1,2017-18,Ronaldo,26,5,27,2297,15,3,13,1170
2,2016-17,Messi,37,9,34,2832,11,2,9,810
3,2016-17,Ronaldo,25,6,29,2544,12,5,13,1200
4,2015-16,Messi,26,16,33,2729,6,1,7,630

In [12]:
#  .head() can also take parameters in order to find specific numbers of rows i-e 2
df.head(2)

,Season,Player,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
0,2017-18,Messi,34,12,36,2996,6,2,10,783
1,2017-18,Ronaldo,26,5,27,2297,15,3,13,1170

In [9]:
#  .tail() is used to get last 5 rows
df.tail()

,Season,Player,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
13,2011-12,Ronaldo,46,13,38,3353,10,4,10,930
14,2010-11,Messi,31,21,33,2862,12,4,13,1050
15,2010-11,Ronaldo,40,13,34,2914,6,4,12,1018
16,2009-10,Messi,34,13,35,2841,8,0,11,985
17,2009-10,Ronaldo,26,11,29,2462,7,2,6,450

In [11]:
#  .tail() can accept parameters in order to return specific number of rows i-e 2
df.tail(2)

,Season,Player,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
16,2009-10,Messi,34,13,35,2841,8,0,11,985
17,2009-10,Ronaldo,26,11,29,2462,7,2,6,450

In [14]:
#  .info() gives the general information about the dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      18 non-null     object
 1   Player      18 non-null     object
 2   Liga_Goals  18 non-null     int64
 3   Liga_Asts   18 non-null     int64
 4   Liga_Aps    18 non-null     int64
 5   Liga_Mins   18 non-null     int64
 6   CL_Goals    18 non-null     int64
 7   CL_Asts     18 non-null     int64
 8   CL_Aps      18 non-null     int64
 9   CL_Mins     18 non-null     int64
dtypes: int64(8), object(2)
memory usage: 1.5+ KB

In [16]:
#  .shape returns the total number of ROWS and COLUMNS in a dataset
df.shape

(18, 10)

In [18]:
#  .dtypes returns the DATA TYPE of the values stored in each column
df.dtypes

Season        object
Player        object
Liga_Goals     int64
Liga_Asts      int64
Liga_Aps       int64
Liga_Mins      int64
CL_Goals       int64
CL_Asts        int64
CL_Aps         int64
CL_Mins        int64
dtype: object

In [19]:
#  .describe() performs some statistics like count, max, min, mean etc on the NUMERIC columns
df.describe()

,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,35.555556,13.055556,33.388889,2840.833333,10.444444,3.388889,10.722222,936.777778
std,8.226372,4.491459,3.201817,321.289177,3.467873,2.226548,2.191039,208.341223
min,25.000000,5.000000,27.000000,2297.000000,6.000000,0.000000,6.000000,450.000000
25%,28.750000,11.000000,31.250000,2565.250000,8.000000,2.000000,10.000000,814.250000
50%,34.000000,12.500000,34.000000,2836.500000,10.000000,3.500000,11.000000,990.500000
75%,42.250000,15.500000,35.750000,3071.000000,12.000000,4.000000,12.000000,1076.000000
max,50.000000,21.000000,38.000000,3375.000000,17.000000,9.000000,13.000000,1200.000000

# How to select a Subset of a Dataframe?

Print season-wise goals of each player in both Leagues

In [22]:
goals = df[['Season','Player', 'Liga_Goals', 'CL_Goals']]
print(goals)

     Season   Player  Liga_Goals  CL_Goals
0   2017-18    Messi          34         6
1   2017-18  Ronaldo          26        15
2   2016-17    Messi          37        11
3   2016-17  Ronaldo          25        12
4   2015-16    Messi          26         6
5   2015-16  Ronaldo          35        16
6   2014-15    Messi          43        10
7   2014-15  Ronaldo          48        10
8   2013-14    Messi          28         8
9   2013-14  Ronaldo          31        17
10  2012-13    Messi          46         8
11  2012-13  Ronaldo          34        12
12  2011-12    Messi          50        14
13  2011-12  Ronaldo          46        10
14  2010-11    Messi          31        12
15  2010-11  Ronaldo          40         6
16  2009-10    Messi          34         8
17  2009-10  Ronaldo          26         7

How to filter specific rows from the Dataset

In [27]:
# Filtering out the Messi's Records
messi = df[df['Player'] == 'Messi']
print(messi)
# NOTE:
# df['Player'] == 'Ronaldo' It will return the BOOLEANS

     Season Player  Liga_Goals  Liga_Asts  Liga_Aps  Liga_Mins  CL_Goals  \
0   2017-18  Messi          34         12        36       2996         6
2   2016-17  Messi          37          9        34       2832        11
4   2015-16  Messi          26         16        33       2729         6
6   2014-15  Messi          43         21        38       3375        10
8   2013-14  Messi          28         12        31       2498         8
10  2012-13  Messi          46         14        32       2629         8
12  2011-12  Messi          50         20        37       3270        14
14  2010-11  Messi          31         21        33       2862        12
16  2009-10  Messi          34         13        35       2841         8

    CL_Asts  CL_Aps  CL_Mins
0         2      10      783
2         2       9      810
4         1       7      630
6         6      13     1145
8         1       7      630
10        3      11      827
12        9      11      990
14        4      13     1050
16        0      11      985

In [28]:
# Filtering out the Ronaldo's Records
ronaldo = df[df['Player'] == 'Ronaldo']
print(ronaldo)
# NOTE:
# df['Player'] == 'Ronaldo' It will return the BOOLEANS

     Season   Player  Liga_Goals  Liga_Asts  Liga_Aps  Liga_Mins  CL_Goals  \
1   2017-18  Ronaldo          26          5        27       2297        15
3   2016-17  Ronaldo          25          6        29       2544        12
5   2015-16  Ronaldo          35         11        36       3184        16
7   2014-15  Ronaldo          48         16        35       3096        10
9   2013-14  Ronaldo          31         11        30       2537        17
11  2012-13  Ronaldo          34         11        34       2716        12
13  2011-12  Ronaldo          46         13        38       3353        10
15  2010-11  Ronaldo          40         13        34       2914         6
17  2009-10  Ronaldo          26         11        29       2462         7

    CL_Asts  CL_Aps  CL_Mins
1         3      13     1170
3         5      13     1200
5         4      12     1109
7         4      12     1064
9         6      11      991
11        1      12     1080
13        4      10      930
15        4      12     1018
17        2       6      450

Total Goals scored by MESSI

In [34]:
messi['Liga_Goals'].sum() + messi['CL_Goals'].sum()

412

Total Goals scored by RONALDO

In [36]:
ronaldo['Liga_Goals'].sum() + ronaldo['CL_Goals'].sum()

416

Total Number of Assists by MESSI

In [37]:
messi['Liga_Asts'].sum() + messi['CL_Asts'].sum()

166

Total Number of Assists by RONALDO

In [38]:
ronaldo['Liga_Asts'].sum() + ronaldo['CL_Asts'].sum()

130